<div id="container">

<div id="stories-carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-wrap="false">
    <ol class="carousel-indicators">
        <li data-target="#stories-carousel" data-slide-to="0" class="active"></li>
                <li *ngFor="let s of stories | slice:1; let i = index" data-target="#stories-carousel" [attr.data-slide-to]=i+1></li>
    </ol>

    <div class="carousel-inner" role="listbox">


        <div class="carousel-item active">
            <img class="img-fluid" src="{{stories[0]}}" alt="First slide">
        </div>

        <div *ngFor="let stor of stories | slice:1;" class="carousel-item" >
            <img  class="img-fluid" src="{{stor}}" alt="other slides">
        </div>
    </div>

    <a class="carousel-control-prev" href="#stories-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#stories-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<button type="button" class="close" aria-label="Close" (click)="closeStories()">
    <span aria-hidden="true">&times;</span>
</button>

</div>