.carousel {
  background: #1E0F47;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 82px;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  display: inline-flex;
}

.img-fluid {
  margin: 45px auto 16px;
  text-align: center;
  height: 720px;
  display: block;
  width: 576px;
  overflow: hidden;
}

.close span{
  position: absolute;
  float:right;
  width: 15px;
  height: 15px;
  top: 110px;
  right: 60px;
}
