


<div style="background: #1e0f47">
    <img src="../assets/images/slogan_merged.png" class="img-fluid party" alt="no party no hassle"/>



        <h2 style="text-align: center">About the platform</h2>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 offset-3" > <p>ExciteUs is a brand new platform launched in Leuven to help the youth to achieve the perfect night out. In the app the users can find data, opening and closing times, a list of events, promo’s and bars. With one click the users can log in to facebook or google and then they can see a detailed list of all the bars and events. When they are interested in a specific event or bar they can click on that said event and get more detailed info. On top of that, there is the possibility to add photo’s to a specific bar or event so the users who aren’t there at the moment can enjoy the party and even look the party/bar up to see if there is a nice atmosphere. In short, the ideal guide for a night out.
        ExciteUs, the local party community.
    </div>

    <div class="container">
                <h2 style="text-align: center">About us</h2>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content">
                <img src="../../assets/images/Kim.jpg" alt="" class="img-circle img-fluid">
                <h4>Kim Borrenbergs</h4>
                <p>Financial director</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content">
                <img src="../../assets/images/lars.jpg" alt="" class="img-circle img-fluid">
                <h4>Lars Marteaux</h4>
                <p>Sales director</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="content">
            <img src="../../assets/images/brent.jpg" alt="" class="img-circle img-fluid">
            <h4>Brent Heykants</h4>
            <p>CEO</p>
        </div>
    </div>
    </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content">
                    <img src="../../assets/images/Alexander.jpg" alt="" class="img-circle img-fluid">
                    <h4>Alexander Maselis</h4>
                    <p>Marketing director</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content">
                    <img src="../../assets/images/Maarten.jpg" alt="" class="img-circle img-fluid">
                    <h4>Maarten van Malcot</h4>
                    <p>Technical director</p>
                </div>
            </div>
        </div>
    </div>
    </div>




