h2 {
  color: #46BDD5;
  margin-top: 30px;
  font-family: BebasNeue-Bold;
  font-size: 48px;
}

p {
  font-size: 20px;
  color:#ffffff;
  font-family: BebasNeue;
}

.img-circle {
  border-radius: 50%;
  border:0;
  width: 200px;
  height: 200px;
}

.content {
  text-align: center;
}

h4 {
  margin-top: 14px;
  color: #46BDD5;
  font-family: BebasNeue-Bold;
  font-size: 26px;
}

.content p{
  font-size: 18px;
}

.party {
  width: 100%;
  height: auto;
}
