
<div class="container-fluid">


<div class="row">
    <div class="col-3 grid-item" *ngFor="let event of events">
        <mat-card class="event-card" [ngClass]="{'promo' : event.hasPromo}">
    <mat-card-header>
            <img mat-card-avatar (click)= "saveStoriesService(event.stories)" [ngClass]="event.hasPictures ? 'promo' : 'disabled'" class="event-image" src="{{event.icon}}"  routerLink="{{event.id}}"/>
        <mat-card-title style="margin-top: 2px"><h1>{{event.title}}</h1></mat-card-title>
        <mat-card-subtitle style="margin-top: -18px"><div class="place"><h3>{{event.place.name}}</h3> <h3 style="color: #C6C1D1">{{event.place.address}}</h3></div></mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="{{event.coverPhoto}}" [id] = "'ph' + event.id"/>

    <mat-card-content [id]="'accordion' + event.id" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#' + event.id" class="acc">

        <div *ngIf="event.hasPromo" class="expand-content">
                <span><img src="../../assets/images/money.png" style="width: 18px; overflow: hidden; float: left; margin-right: 6px; margin-top: 4px"><h5>{{event.promotion.name}}</h5></span>
        </div>

        <div id="{{event.id}}" class="panel-collapse collapse expand-content">
            <div class="panel-body">

                <div><img class="icons" src="../../assets/images/clock-256.png"><h4>HOUR {{event.date.getHours()}}:{{event.date.getMinutes()}}</h4></div>
                <div><img class="icons" src="../../assets/images/calendar-256x256.png"><h4>WHEN {{event.date.getDate()}} {{getMonthAbr(event.date.getMonth())}}. {{event.date.getFullYear().toString().substr(-2)}}'</h4></div>
                <!--<div style="margin-bottom: 8px"><img class="icons" src="../../assets/images/Ecommerce-Price-Tag-icon.png"><h4>PRICE ?? Euro</h4></div>-->

            </div>
        </div>
            <h4 class="expand-content">
                {{event.description }}
            </h4>


    </mat-card-content>
</mat-card>

    </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

