h4 {
  margin: 0;
  padding: 0;
  color: #C6C1D1;
  overflow: hidden;
  font-size: 16px;
  font-family: "BebasNeue-Bold";
}

h5 {
  font-family: "BebasNeue-Bold";
  color: #ECD042;
  font-size: 22px;
}

.promo {
  border: 2px solid #ECD042;
  -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
  -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
  transition: border 0.1s linear, box-shadow 0.1s linear;
  -webkit-box-shadow: 0 0 5px #ECD042;
  -moz-box-shadow: 0 0 5px #ECD042;
  box-shadow: 0 0 5px #ECD042;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
  //background: #1E0F47;
}

.container-fluid {
  //background: #1E0F47;
}

.col-3{
  margin-top: 15px;
  margin-bottom: 15px;
  //background: #1E0F47;
}

.event-image {
  background-size: cover;
  background: #000000;
}

.event-icon {
  padding: 0 14px;
}

.event-spacer {
  flex: 1 1 auto;
}

mat-card {
  background-color: #180B3D;
}

.place {
  overflow: hidden;
}

h2 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "BebasNeue-Bold";
}

h3 {
  font-size: 1.2em;
  color: #F5C8EA;
  margin-right: 3px;
  padding: 0;
  overflow: hidden; float: left;
  font-family: "BebasNeue-Bold";
}

h1 {
  font-size: 1.9em;
  margin-top: -10px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #46BDD5;
  font-family: "BebasNeue-Bold";
}

.desc {
  color:white;
  font-size: 16px;
  font-family: "BebasNeue-Bold";
}

hr {
  border:none;
  height: 2px;
  margin-left: 0;
  color: #EDD22F;
  background-color: #EDD22F;
  width: 70%;
}

.acc{
  position:absolute;
  bottom:15px;
  //background: #180B3D;
  width: 100%;
}

mat-card-content{
  margin-left: -26px;
}

.expand-content {
  margin-left: 30px;
}

.mat-card-image {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 60px;
}

.icons {
  padding-top: 5px;
  -webkit-filter: invert(100%);
  width: 14px;
  overflow: hidden;
  float: left;
  margin-right: 8px;
}

.disabled {
  pointer-events: none;
  cursor:default;
}

.grid-item {
  width: 33%;
}
