<!--The content below is only a placeholder and can be replaced.-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand navbar-dark">

    <ul class="navbar-nav mr-auto">
        <li style="float: left;"class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img style="width: 55px; height: 50px;" src="../assets/images/logo_final01.png">
        </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="events" routerLinkActive="active">Events</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about" routerLinkActive="active">About</a></li>
        <div class="header-social d-flex align-items-center">
            <a href="https://www.facebook.com/ExciteUsPlatform/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/excite.us/?hl=nl" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </ul>
</nav>

<router-outlet>
</router-outlet>
