@import url("../assets/bebas-neue.css");

.navbar {
  background-color: #4DBDD3;
}

.navbar ul{
  margin-right: 6em;
}

.navbar a{
  margin-left: 1em;
  color:white;
  transition: all .2s ease-in-out;
  font-size: 1.4em;
  font-family: BebasNeue-Bold;
}

.navbar a.active {
  text-decoration: underline;
  text-decoration-color: #EDD22F;
}

.navbar a:hover {
  transform: scale(1.1);
}

i {
  width: 20%;
  height:20%;
}

