@font-face {
  font-family: "BebasNeue-Bold";
  src: url("fonts/BebasNeue-Bold.eot");
  src: url("fonts/BebasNeue-Bold.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("fonts/BebasNeue-Bold.woff2") format("woff2"), url("fonts/BebasNeue-Bold.woff") format("woff"), url("fonts/BebasNeue-Bold.ttf") format("truetype"), url("fonts/BebasNeue-Bold.svg#BebasNeueBold") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Book";
  src: url("fonts/BebasNeue-Book.eot");
  src: url("fonts/BebasNeue-Book.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("fonts/BebasNeue-Book.woff2") format("woff2"), url("fonts/BebasNeue-Book.woff") format("woff"), url("fonts/BebasNeue-Book.ttf") format("truetype"), url("fonts/BebasNeue-Book.svg#BebasNeueBook") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Light";
  src: url("fonts/BebasNeue-Light.eot");
  src: url("fonts/BebasNeue-Light.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("fonts/BebasNeue-Light.woff2") format("woff2"), url("fonts/BebasNeue-Light.woff") format("woff"), url("fonts/BebasNeue-Light.ttf") format("truetype"), url("fonts/BebasNeue-Light.svg#BebasNeueLight") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue-Regular.eot");
  src: url("fonts/BebasNeue-Regular.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("fonts/BebasNeue-Regular.woff2") format("woff2"), url("fonts/BebasNeue-Regular.woff") format("woff"), url("fonts/BebasNeue-Regular.ttf") format("truetype"), url("fonts/BebasNeue-Regular.svg#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("fonts/BebasNeue-Regular.eot");
  src: url("fonts/BebasNeue-Regular.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("fonts/BebasNeue-Regular.woff2") format("woff2"), url("fonts/BebasNeue-Regular.woff") format("woff"), url("fonts/BebasNeue-Regular.ttf") format("truetype"), url("fonts/BebasNeue-Regular.svg#BebasNeueRegular") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "BebasNeue-Thin";
  src: url("fonts/BebasNeue-Thin.eot");
  src: url("fonts/BebasNeue-Thin.eot?#iefix&v=1.0.4") format("embedded-opentype"), url("fonts/BebasNeue-Thin.woff2") format("woff2"), url("fonts/BebasNeue-Thin.woff") format("woff"), url("fonts/BebasNeue-Thin.ttf") format("truetype"), url("fonts/BebasNeue-Thin.svg#BebasNeueThin") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
