#content div {
  height: auto;
  margin-left: 3em;
  align-content: center;
  z-index: 3;
}

hr {
  margin-top: 2.4em;
  border:none;
  height: 2px;
  margin-left: 0;
  color: #EDD22F;
  background-color: #EDD22F;
  width: 90%;
}

h2 {
  color: #46BDD5;
  margin-bottom: 0.8em;
  font-family: BebasNeue-Bold;
  font-size: 48px;
}

.btn {
  background-color: #EDD22F;
  color: #1e0f47;
  font-size: 20px;
}

.row div p {
  margin-top: -0.8em;
  font-size: 20px;
  color:#ffffff;
  font-family: BebasNeue;
}


.gradient {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
  background: #000;
}

#video {
  position: fixed;
  margin-top: 5%;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../../assets/videos/promo.mp4");
  background-size: cover;
}

button  {
  font-family: BebasNeue-Bold;
}

.fixed-bottom {
  margin-bottom: 1.5em;
  text-align: right;
  margin-right: 3em;
}

.fixed-bottom a {
  color: #e3deed;
  margin-right: 5px;
  margin-left: 5px;
  display:inline-block;
}

.fixed-bottom img {
  width: 24px;
}

.vertical-center {
  position: relative;
  display: flex;
  align-items: center;
}

.h-100 {
  margin-top: 20%;
  margin-left: 5%;
}

h4 {
  float:left;
}

.close {
  float: right;
}
